<form
  [formGroup]="loginForm"
  [owMarkAsTouched]="loginForm"
  (ngSubmit)="login()"
>
  <div class="form-group">
    <input
      class="form-control"
      type="text"
      formControlName="email"
      placeholder="Email"
    />
    <ow-validation-messages
      [control]="loginForm.get('email')"
    ></ow-validation-messages>
  </div>
  <div class="form-group">
    <input
      class="form-control"
      type="password"
      formControlName="password"
      placeholder="Password"
    />
    <ow-validation-messages
      [control]="loginForm.get('password')"
    ></ow-validation-messages>
  </div>
  <button type="submit" class="btn btn-dark btn-lg btn-block mt-2">
    SEND
  </button>
</form>
