#principal {
  background-image: url(https://res.cloudinary.com/dqpd1zyf4/image/upload/v1561397344/michal-parzuchowski-1O77vgBVkXQ-unsplash_01_ymhpbr.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  width: 460px;
  height: 444px;
  background-color: rgba(255, 255, 255, 0.7);
}

h3 {
  font-family: PlayfairDisplay;
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
