<section id="principal" class="d-flex justify-content-center pt-5 h-100">
  <div class="d-flex flex-column justify-content-center">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title text-center mt-3">Sign in</h3>
        <div class="card-body">
          <ow-login></ow-login>
          <div class="row justify-content-center">
            <p class="mt-3">Not a member?</p>
            <button type="button" class="btn btn-link" (click)="open()">
              Join now here
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
