.container-fluid {
  display: block;
  height: 100%;
  color: black;
}

#principal {
  background-image: url(https://res.cloudinary.com/dqpd1zyf4/image/upload/v1561397344/michal-parzuchowski-1O77vgBVkXQ-unsplash_01_ymhpbr.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
