.container-fluid {
  display: block;
  height: 100%;
  color: black;
}

#principal {
  background-image: url(https://res.cloudinary.com/dqpd1zyf4/image/upload/v1560931607/london_cjoeq2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
