<div class="container-fluid h-100">
  <div class="d-flex flex-column">
    <form
      class="d-flex flex-column justify-content-center pt-5 pb-3"
      [formGroup]="updateUserCapacityForm"
      [owMarkAsTouched]="updateUserCapacityForm"
      (ngSubmit)="updateUserCapacity()"
    >
      <div class="d-flex justify-content-center pt-3">
        <div class="form-group">
          <h1 class="text-center">Current Capacity</h1>
          <div class="row justify-content-center">
            <input
              class="form-control col-3"
              type="number"
              formControlName="capacity"
              placeholder="..."
            />
            <ow-validation-messages
              [control]="updateUserCapacityForm.get('capacity')"
            ></ow-validation-messages>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <button
          id="save"
          type="submit"
          class="btn btn-dark col-4 col-sm-4 col-md-1 col-lg-1"
        >
          Save
        </button>
      </div>
    </form>

    <button type="button" class="btn btn-link" routerLink="/my-account">
      My Account
    </button>

    <button type="button" class="btn btn-link" (click)="authService.logout()">
      Logout
    </button>
  </div>
</div>
