.modal {
  display: block;
  background: rgba(0, 0, 0, 0.5);
}

h3 {
  font-family: PlayfairDisplay;
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
