<div>
  <nav class="navbar">
    <div class="ml-4">
      <span id="owti">OWTI, 2019 All rights reserved</span>
    </div>
    <div id="end" class="mr-4">
      <div class="">
        <span id="terms" class="mr-2">Terms and conditions</span>
        <span id="privacy" class="mr-2">Privacy Policy</span>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter" class="mx-2"></i>
        <i class="fab fa-instagram"></i>
      </div>
    </div>
    <!-- <span>Terms and conditions</span>
        <span>Privacy Policy</span>
        <div id="icons">
          <ul class="list-group list-group-horizontal-lg">
            <li class="fab fa-facebook-f"></li>
            <li class="fab fa-twitter"></li>
            <li class="fab fa-instagram"></li>
            cualquier cosa
          </ul>
        </div> -->
  </nav>
</div>
