nav {
  background-color: black;
}

#owti {
  // width: 205px;
  // height: 14px;
  background-color: #000000;
  font-family: Rubik;
  // font-size: 12px;
  // font-weight: normal;
  // font-style: normal;
  // font-stretch: normal;
  // line-height: normal;
  // letter-spacing: 1px;
  color: #ffffff;
}

#end {
  font-family: Rubik;
  color: #ffffff;
}

// #terms {
//   width: 140px;
//   height: 14px;
//   font-family: Rubik;
//   font-size: 12px;
//   font-weight: normal;
//   font-style: normal;
//   font-stretch: normal;
//   line-height: normal;
//   letter-spacing: 1px;
//   color: #ffffff;
// }

// #privacy {
//   width: 91px;
//   height: 14px;
//   font-family: Rubik;
//   font-size: 12px;
//   font-weight: normal;
//   font-style: normal;
//   font-stretch: normal;
//   line-height: normal;
//   letter-spacing: 1px;
//   color: #ffffff;
// }
