<nav class="navbar">
  <div id="footer" class="container-fluid">
    <div class="col-7">
      <span class="">OWTI®, 2019 All rights reserverd</span>
    </div>
    <div class="col-5">
      <div class="container">
        <div class="row justify-content-end">
          <a class="col-1">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a class="col-1">
            <i class="fab fa-twitter"></i>
          </a>
          <a class="col-1">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
