nav {
  background-color: black;
}

#footer {
  background-color: #000000;
  font-family: Rubik;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #ffffff;
}
