<div class="container-fluid pt-5">
  <div
    id="principal"
    [ngStyle]="{
      'background-image': 'url(' + barDetail.userProfile.avatarUrl[0] + ')',
      'background-repeat': 'no-repeat',
      height: '100%',
      'background-size': 'cover',
      'background-position': 'center',
      'background-blend-mode': 'darken',
      'background-color': 'rgba(0, 0, 0, 0.5)'
    }"
  >
    <h1 class="d-flex justify-content-center pt-5">
      {{ barDetail && barDetail.userProfile && barDetail.userProfile.fullName }}
    </h1>
    <p class="d-flex justify-content-center">
      {{ today | date: "dd MMM yy" }}
    </p>

    <ow-circle-progress
      class="d-flex justify-content-center"
    ></ow-circle-progress>
    <h5 id="capacity" class="d-flex justify-content-center">
      Capacity
    </h5>
    <div class="d-flex justify-content-center">
      <span>
        {{
          barDetail &&
            barDetail.userCapacityProfile &&
            barDetail.userCapacityProfile.capacity
        }}
      </span>
      /
      <span>
        {{
          barDetail &&
            barDetail.userProfile &&
            barDetail.userProfile.details &&
            barDetail.userProfile.details.maxCapacity
        }}
      </span>
    </div>
  </div>

  <!-- CONTACT -->

  <div class="container-fluid">
    <div class="row justify-content-start">
      <div class="col-10 col-md-6 col-lg-6">
        <div class="mt-2">
          <h3 class="mb-0">CONTACT</h3>
        </div>
        <div class="container">
          <div id="contact" class="row justify-content-start">
            <div class="container">
              <!-- ADDRESS -->

              <div class="my-3">
                <div>
                  <span>
                    {{
                      barDetail &&
                        barDetail.userProfile &&
                        barDetail.userProfile.address &&
                        barDetail.userProfile.address.streetAddress
                    }}
                  </span>
                </div>

                <div>
                  <div>
                    <span>
                      {{
                        barDetail &&
                          barDetail.userProfile &&
                          barDetail.userProfile.address &&
                          barDetail.userProfile.address.addressLocality
                      }}
                    </span>
                    <span>
                      {{
                        barDetail &&
                          barDetail.userProfile &&
                          barDetail.userProfile.address &&
                          barDetail.userProfile.address.addressRegion
                      }}
                    </span>
                    <span>
                      {{
                        barDetail &&
                          barDetail.userProfile &&
                          barDetail.userProfile.address &&
                          barDetail.userProfile.address.postalCode
                      }}
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <!-- PHONE & EMAIL -->

            <div class="container mb-3">
              <div>
                <span>
                  {{
                    barDetail &&
                      barDetail.userProfile &&
                      barDetail.userProfile.contact &&
                      barDetail.userProfile.contact.phoneNumber
                  }}
                </span>
                <span>
                  {{
                    barDetail &&
                      barDetail.userProfile &&
                      barDetail.userProfile.contact &&
                      barDetail.userProfile.contact.email
                  }}
                </span>
              </div>
            </div>

            <!-- OPENING HOURS -->

            <div class="container mb-3">
              <div>
                {{
                  barDetail &&
                    barDetail.userProfile &&
                    barDetail.userProfile.details &&
                    barDetail.userProfile.details.openingHours
                }}
              </div>
            </div>

            <!-- VISIT WEBSITE -->

            <div>
              <a
                id="visit"
                class="d-flex"
                class="btn btn-lg"
                [href]="barDetail.userProfile.preferences.web"
              >
                <span
                  id="web"
                  class="justify-content-center align-items-center"
                >
                  VISIT WEBSITE
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div>
          <div>
            mapa
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
