<div class="container-fluid">
  <div class="input-group mb-3 mt-3 w-75 mx-auto">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-search"></i></span>
    </div>
    <input
      type="text"
      class="form-control"
      placeholder="Search..."
      #searchText
    />
  </div>
  <div class="row">
    <div
      class="justify-content-center mt-4"
      *ngFor="let local of searchLocalService.searchResults"
    >
      <div class="card bg-primary text-light">
        <a class="text-light" [routerLink]="['./details', local.fullName]">
          <h5>{{ local.fullName }}</h5>
        </a>
      </div>
    </div>
  </div>
</div>
