<circle-progress
  [percent]="barDetail.percentage"
  [maxPercent]="100"
  [radius]="100"
  [clockwise]="true"
  [responsive]="true"
  [startFromZero]="true"
  [showZeroOuterStroke]="true"
  [showTitle]="true"
  [showSubtitle]="false"
  [showUnits]=""
  [showImage]="false"
  [showBackground]="true"
  [showInnerStroke]="false"
  [backgroundStroke]=""
  [backgroundStrokeWidth]=""
  [backgroundPadding]="5"
  [backgroundGradient]="false"
  [backgroundColor]=""
  [backgroundGradientStopColor]=""
  [backgroundOpacity]="1"
  [space]=""
  [toFixed]="0"
  [renderOnClick]=""
  [units]=""
  [unitsFontSize]="28"
  [unitsFontWeight]=""
  [unitsColor]="'#ffffff'"
  [outerStrokeWidth]="10"
  [outerStrokeGradient]
  [outerStrokeColor]="'#ffffff'"
  [outerStrokeGradientStopColor]=""
  [outerStrokeLinecap]=""
  [innerStrokeWidth]="10"
  [innerStrokeColor]="'#ffffff'"
  [title]=""
  [titleFormat]=""
  [titleColor]="'#ffffff'"
  [titleFontSize]="47"
  [titleFontWeight]=""
  [subtitle]=""
  [subtitleFormat]=""
  [subtitleColor]=""
  [subtitleFontSize]=""
  [subtitleFontWeight]=""
  [imageSrc]=""
  [imageHeight]=""
  [imageWidth]=""
  [animation]="true"
  [animateTitle]="true"
  [animateSubtitle]=""
  [animationDuration]="500"
  [class]=""
  [lazy]=""
></circle-progress>
